@model IEnumerable<Kambao.Core.Usuario>

@{
    ViewBag.Title = "Usuários";
}

@Html.Bootstrap().ActionLinkButton("Novo Usuário", "Create").Style(ButtonStyle.Success).IconPrepend(Icons.tasks, true)

<hr/>
<table class="table table-striped table-bordered" id="myTable">
    <thead>
        <tr>        
            <th class="gridActions"></th>            
            <th>Login</th>        
        </tr>
    </thead>
    <tbody>
    @foreach (var usuario in Model) 
    {
        <tr> 
            <td class="gridActions">
               @Html.Bootstrap().ActionLinkButton("Editar", MVC.Usuarios.Edit(usuario.Id)).Size(ButtonSize.Mini).Style(ButtonStyle.Default).IconPrepend(Icons.edit, false)
               @Html.Bootstrap().ActionLinkButton("Excluir", MVC.Usuarios.Delete(usuario.Id)).Size(ButtonSize.Mini).Style(ButtonStyle.Default).IconPrepend(Icons.trash, false)                         
            </td>    
            <td class="span12">@usuario.Login</td>
        </tr>
    } 
    </tbody>
</table>
   