@model IEnumerable<Kambao.Core.Faixa>

@{
    ViewBag.Title = "Index";
}
<a href="#modalFormNew" role="button" class="btn btn-inverse" data-toggle="modal"><i class="icon-tasks icon-white"></i> Nova Faixa</a>
 
</br></br>
<table class="table table-striped table-bordered" id="myTable">
    <thead>
        <tr>        
            <th class="gridActions"></th>            
            <th>Descrição</th>        
        </tr>
    </thead>
    <tbody>
    @foreach (var faixa in Model) 
    {
        <tr> 
            <td class="gridActions">
                <a href="#modalFormEdit" data-toggle="modal"><i class="icon-edit"></i></a>
                <i class="icon-trash"></i>
            </td>    
            <td class="span12">@faixa.Descricao</td>
        </tr>
    } 
    </tbody>
</table>

<div id="modalFormNew" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
@using (Html.BeginForm("Create", "Faixas"))
{
    @Html.Partial("_Create", new Kambao.Core.Faixa() );
}    
</div>
   
<div id="modalFormEdit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
@using (Html.BeginForm("Create", "Faixas"))
{
    @Html.Partial("_Create", new Kambao.Core.Faixa() );
}    
</div>