@model Kambao.Core.Tarefa

@{
    ViewBag.Title = "Edição de Tarefa";
}

@using (Html.BeginForm("Edit", "Tarefas", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Bootstrap().ControlGroup().TextBoxFor(model => model.Codigo).Label().LabelText("Código")
    @Html.Bootstrap().ControlGroup().TextAreaFor(model => model.Descricao).Label().LabelText("Descrição")
	
    using(Html.Bootstrap().Container().BeginFormActions())
    {
        <div>
            @Html.Bootstrap().ActionLinkButton("Cancelar", "Index", "Tarefas")
            @Html.Bootstrap().SubmitButton().Text("Salvar").Style(ButtonStyle.Success)
        </div>
    }
}