@{
    ViewBag.Title = "Kambão";
}

<div class="hero-unit">
<h1>Bem vindo ao Kambão!</h1>
<!--<p>Aqui você pode gerenciar as tarefas de sua equipe de maneira simples e eficiente.</p>-->

@*    
@using(var carousel = Html.Bootstrap().Begin(new Carousel("uniqueCarouselId")))
{
    // A simple image as an element
    carousel.Image("../../Content/images/kratos.jpg", "image Alt Text");
    // An image with caption as an element
    @*using(carousel.ImageWithCaption("kratos.jpg", "image Alt Text"))
    {
        <p>Caption Text</p>
    }
    
    using(carousel.CustomItem())
    {
        <p>Any html markup can be placed here - not just an image.<p>
    }
}
*@
